page-signup-modal {
  .toolbar-background {
    background-color: #fff;
  }

  .scroll-content {

  }

  .label {
    color: #000 !important;
    //font-size: 1.25em !important;
    margin: 0 8px 0 0 !important;
  }

  .item {

  }

  .img-col {
    text-align: center;
  }

  img {
    max-height: 75px;
  }

  .gpa-ranges {
    margin-top: 5%;
  }
  .sat-ranges {
    margin-top: 2%;
  }
  .act-ranges {
    margin-top: 5%;
  }
}
