page-search {

  .toggle_filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .select_filter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .label {
    color: #000 !important;
  }

  ion-list {
    margin-bottom: 0 !important;
  }

  .alert-md.alert-checkbox-label {
    white-space: normal !important;
  }

  .alert-ios .alert-checkbox-label{
    white-space: pre-line !important;
  }

  .alert-md .alert-radio-label{
    white-space: pre-line !important;
  }

  .alert-wp .alert-checkbox-label{
    white-space: pre-line !important;
  }

  .college_stats_row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .search_item {
    padding-left: 5px !important;
  }

}
